.App-header {
  color: white;
  height: 400px;
}

.about {
  text-align: left;
  padding-left: 150px;
  width: 60%;
  height: 100%;
  background-color: #6d597a;
  float: left;
}
.avatar-wrapper {
  display: inline-flex;
  align-items: center;
  height: 100%;
  width: 30%;
  position: relative;
  right: 100px;
}

.avatar-layout {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  border: 8px white solid;
}

.h1-about {
  margin-top: 5px;  
  margin-bottom: 0px;
  color: #e56b6f;
  font-weight: bold;
}

.avatar {
  background-image: url('./img/avatar.jpg');
  background-size: cover;
  background-position: top center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.coin-layout {
  padding: 10px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #6d597a;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.content-wrapper {
  margin-right: 150px;
  margin-left: 150px;
  margin-top: 150px;
  height: 300px;
}

.wrapper {
  margin-right: 150px;
  margin-left: 150px;
  height: 300px;
}

.formation-wrapper {
  float: left;
  display: inline-block;
  height: 100%;
  width: 30%;
}

.skills-wrapper {
  display: inline-block;
  height: 100%;
  width: 20%;
}

.coins {
  width: 600px;
  display: inline-flex;
  justify-content: space-between;
  float: right;
}

.description {
  width: 50%;
  display: inline-block;
  float: left;
}

.companies {
  margin-top: 100px;
}

.img-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.img-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

img {
  width: 80px;
  height: 80px;
  display: inline-block;
}

.list-item {
  line-height: 25px;
  margin-bottom: 15px;  
}
